In [ ]:
#default_exp data.exporter

In [ ]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

# Export Buoys

In [ ]:
#export
from huey.imports import *

[2020-06-24 19:04:37,992] {settings.py:254} INFO - settings.configure_orm(): Using pool settings. pool_size=5, max_overflow=10, pool_recycle=1800, pid=17759

In [ ]:
from huey.data.sql import get_db_engine
db_engine = get_db_engine()

[2020-06-24 19:04:53,912] {base_hook.py:84} INFO - Using connection to: id: huey_dev. Host: localhost, Port: None, Schema: huey_dev, Login: postgres, Password: XXXXXXXX, extra: None

In [ ]:
df = pd.read_sql("select * from buoy", db_engine)

In [ ]:
df.head()

,id,station_id,name,owner,pgm,station_type,lat,lng,point,elevation,hull,anemom_height,created_at,updated_at
0,1,0Y2W3,"Sturgeon Bay CG Station, WI",U.S.C.G. Marine Reporting Stations,IOOS Partners,fixed,44.794,-87.313,0101000020E61000001283C0CAA165464079E9263108D4...,None,,10.0,None,None
1,2,15319,Sanha - WANE 25947,Chevron,Oil and Gas Industry,oilrig,-5.583,11.833,0101000020E6100000A245B6F3FD5416C0D122DBF97EAA...,None,,NaN,None,None
2,3,18CI3,"Michigan City CG Station, IN",U.S.C.G. Marine Reporting Stations,IOOS Partners,fixed,41.730,-86.910,0101000020E61000003D0AD7A370DD44400AD7A3703DBA...,None,,24.0,None,None
3,4,20CM4,"St. Joseph CG Station, MI",U.S.C.G. Marine Reporting Stations,IOOS Partners,fixed,42.090,-86.490,0101000020E6100000EC51B81E850B45408FC2F5285C9F...,None,,24.0,None,None
4,5,21346,"21346 380km East of Iwate, Japan",Japanese Meteorological Agency,Tsunami,dart,40.303,146.192,0101000020E6100000105839B4C8264440A01A2FDD2446...,None,,NaN,None,None

In [ ]:
df.tail()

,id,station_id,name,owner,pgm,station_type,lat,lng,point,elevation,hull,anemom_height,created_at,updated_at
1419,1420,YGNN6,"Niagara Coast Guard Station, NY",NWS Eastern Region,IOOS Partners,fixed,43.261,-79.064,0101000020E6100000C520B07268A145406ABC749318C4...,None,,10.0,None,None
1420,1421,YKRV2,"8637611 - York River East Rear Range Light, VA",NOS,NOS/CO-OPS,fixed,37.250,-76.333,0101000020E61000000000000000A042405A643BDF4F15...,None,,6.0,None,None
1421,1422,YKTV2,"8637689 - Yorktown USCG Training Center, VA",NOS,NOS/CO-OPS,fixed,37.227,-76.478,0101000020E6100000931804560E9D42403BDF4F8D971E...,None,,9.6,None,None
1422,1423,YRSV2,"Taskinas Creek, Chesapeake Bay Reserve, VA",National Estuarine Research Reserve System,NERRS,fixed,37.414,-76.713,0101000020E6100000A245B6F3FDB442401283C0CAA12D...,None,,3.5,None,None
1423,1424,ZBQN7,"Zeke's Basin, North Carolina",National Estuarine Research Reserve System,NERRS,fixed,33.955,-77.935,0101000020E61000000AD7A3703DFA4040A4703D0AD77B...,None,,NaN,None,None

In [ ]:
len(df)

1424

In [ ]:
df.iloc[0].point

'0101000020E61000001283C0CAA165464079E9263108D455C0'

In [ ]:
df.to_csv("buoys_export.csv")